.gallery__item--1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery__item--2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.gallery__item--3 {
  grid-column: 5 / span 3;
  grid-row: 1 / span 3; 
}

.gallery__item--4 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 3;
}

.gallery__item--5 {
  grid-column: 5 / span 3;
  grid-row: 4 / span 2;
}